<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mudit | Projects</title>

    <link rel="icon" href="Gallery/logooo.png">
    <link rel="stylesheet" href="Css/commonStyles.css">
    <link rel="stylesheet" href="Css/nav_section.css">
    <link rel="stylesheet" href="Css/Projects.css">
    <link rel="stylesheet" href="Css/footer.css">

    <link rel="stylesheet" href="Css/light.css" id="DayTheme">
    <link rel="stylesheet" href="Css/dark.css" id="NightTheme" disabled>

    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css">
</head>

<body>
    <!-- Header Section -->
    <header class="header" id="header">
        <div class="rmvBG" id="rmvBg"></div>
        <nav class="nav container">
            <a href="#Contact" class="nav__logo">Mudit</a>

            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list grid">
                    <li class="nav__item">
                        <a href="./" class="nav__link Underline">
                            <i class="nav__icon uil uil-user"></i>About
                        </a>
                    </li>
                    <li class="nav__item">
                        <a href="#Projects" class="nav__link Underline active_nav">
                            <i class="nav__icon uil uil-briefcase-alt"></i>Projects
                        </a>
                    </li>

                    <li class="nav__item">
                        <a href="./" class="nav__link Underline">
                            <i class="nav__icon uil uil-game-structure"></i>Skills
                        </a>
                    </li>
                    <!-- <li class="nav__item">
                        <a href="./" class="nav__link">
                            <i class="nav__icon uil uil-atom"></i>Tech-profile
                        </a>
                    </li> -->
                    <li class="nav__item">
                        <a href="./achievement" class="nav__link Underline">
                            <i class="nav__icon uil uil-game-structure"></i>Achievements</a>
                    </li>
                    <!-- <li class="nav__item">
                        <a href="#resume" class="nav__link">
                            <i class="nav__icon uil uil-file-alt"></i>Resume
                        </a>
                    </li> -->
                    <li class="nav__item">
                        <a href="./contact" class="nav__link Underline">
                            <i class="nav__icon uil uil-message"></i>Contact-me
                        </a>
                    </li>
                </ul>
                <i class="nav__icon uil uil-times-square nav__close" id="nav-close"></i>
            </div>

            <audio id="dayAudio">
                <source src="sound/day.mp3" type="audio/mp3">
            </audio>

            <div class="specialBox">
                <i class="uil uil-moon" id="day_night"></i>
                <div class="Hamburger">
                    <div class="nav__Open" id="nav-Open" style="font-size: 25px;">
                        <i class="uil uil-apps"></i>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <!-- End of header Section -->

    <!-- Project Section -->
    <section class="Project container" id="Projects">
        <h1 class="project_title">- Projects</h1>
        <div class="project_container" data-aos="zoom-out-down">
            <div class="myProject">
                <div class="project_info">
                    <h3 class="project_name" data-aos="fade-up" data-aos-duration="600">AquaHarvest</h3>
                    <p class="project_desc" data-aos="fade-up" data-aos-duration="600">Aqua Harvest - Your one-stop destination for premium fish farming. Connect with top-notch fish dealers and take your business to new heights. Start exploring today!</p>
                    <div class="project_links" data-aos="fade-up" data-aos-duration="600">
                        <div class="github_link">
                            <a href="https://github.com/Ras-hi/GFG_Hackathon" target="_blank">
                                <i class="uil uil-github-alt"></i>
                            </a>
                        </div>
                        <div class="website_link">
                            <a href="https://aquaharvest.onrender.com" target="_blank">
                                <i class="uil uil-link"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <a href="https://aquaharvest.onrender.com" target="_blank" class="project_view"
                    style="background-image: url(/Gallery/aquaharvest.png);" data-aos="zoom-in-up">
                </a>
            </div>
            <div class="myProject">
                <div class="project_info">
                    <h3 class="project_name" data-aos="fade-up" data-aos-duration="600">IEM Coding Club</h3>
                    <p class="project_desc" data-aos="fade-up" data-aos-duration="600">The Coding Club at the Institute of Engineering and Management offers a platform for students to learn, build and compete in coding. Join our community today and enhance your coding skills.</p>
                    <div class="project_links" data-aos="fade-up" data-aos-duration="600">
                        <div class="github_link">
                            <a href="https://github.com/IEM-CC/Iemcc" target="_blank">
                                <i class="uil uil-github-alt"></i>
                            </a>
                        </div>
                        <div class="website_link">
                            <a href="https://iemcc.in" target="_blank">
                                <i class="uil uil-link"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <a href="https://iemcc.in" target="_blank" class="project_view"
                    style="background-image: url(/Gallery/iemcc.png);" data-aos="zoom-in-up">
                </a>
            </div>
            <div class="myProject">
                <div class="project_info">
                    <h3 class="project_name" data-aos="fade-up" data-aos-duration="600">Second Wife Restaurant</h3>
                    <p class="project_desc" data-aos="fade-up" data-aos-duration="600">
                        Second Wife - where dining is an experience. Enjoy exotic flavors and a cozy ambiance with our extensive menu. Perfect for a romantic date or family dinner. Indulge in our culinary delights today!</p>
                    <div class="project_links" data-aos="fade-up" data-aos-duration="600">
                        <div class="github_link">
                            <a href="https://github.com/Webolove/Second-Wife" target="_blank">
                                <i class="uil uil-github-alt"></i>
                            </a>
                        </div>
                        <div class="website_link">
                            <a href="https://secondwifesaharsa.netlify.app/" target="_blank">
                                <i class="uil uil-link"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <a href="https://secondwifesaharsa.netlify.app/" target="_blank" class="project_view"
                    style="background-image: url(/Gallery/restaurant.png);" data-aos="zoom-in-up">
                </a>
            </div>
        </div>
    </section>
    <!-- End of Project Section -->

    <!-- Footer Section -->
    <footer class="footer">
        <p class="footer_title">Mudit Anand.</p>
        <p class="footer_desc">Inspired by the world, driven by creativity.</p>
        <p class="footer_info">@copyright 2023. All Rights Reserved.</p>
    </footer>
    <!-- End of Footer Section -->

    <script src="Js/hamburger.js"></script>
    <script src="Js/dayNight.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script src="Js/Aos_init.js"></script>
</body>

</html>