.tech {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tech_title {
    font-size: 32px;
}

.tech_desc {
    margin-bottom: 2rem;
}

.platform_icon {
    width: 45px;
    height: 45px;
}


.platform_name {
    font-size: 23px;
}

.platform_icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.tech_container {
    margin-top: 0px;
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    padding: 40px;
}

.tech_content {
    margin: 0 60px;
    padding: 33px 15px;
    overflow: hidden;
    border-radius: 23px;
    box-shadow: inset 13px 13px 13px -1px rgba(0, 0, 0, 0.16),
        inset -13px -13px 13px -1px rgba(255, 255, 255, 0.70);
}


.alignPlatform {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px 19px;
    gap: 1rem;
    border-radius: 23px;
    background-color: var(--surface_bg);
    box-shadow: 10px 10px 10px -1px rgba(0, 0, 0, 0.16),
            -10px -10px 10px -1px rgba(255, 255, 255, 0.70);
}

.platform_info {
    width: fit-content;
    display: flex;
    flex-direction: column;
}


@media screen and (max-width: 350px) {
    .alignPlatform {
        flex-direction: column;
        width: fit-content;
    }
}


@media screen and (max-width: 770px)
{
    .tech{
		margin-top: 0px;
		width: 93% !important;
		margin: 0 auto;
	}

    .SwiperBtn{
        display: none !important;
    }
    .tech_content{
        margin: 0 15px;
    }
}

.SwiperBtn{
    color: var(--text_primary) !important;
}

@media screen and (max-width: 620px) and (min-width: 450px)
{
    .platform_name{
        font-size: 18px;
    }
    .platform_info a, 
    .platform_info p{
        font-size: 16px;
    }

    .platform{
        min-width: 250px;
    }
}

.Profile-btn{
	padding: 5px 12px;
	background-color: rgb(132, 27, 237);
	border-radius: 17px;
	margin-top: 0.5rem !important;
}

.mostActive{
    background-image: linear-gradient(to bottom right, #f4e2d8, #f7ff00);
}

.mostActive {
    color: var(--text_secondary);
}
